/* hammesine arnalgan css */
html,
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
p {
    margin: 0;
}
.container {
    position: relative;
    width: 1320px;
    height: auto;
    display: flex;
}

.navbar_frame {
    position: relative;
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #281677;
}
.navbar_frame .container {
    padding: 20px 0 14px;
    flex-direction: column;
}

.navbar_frame .container .navbar_top {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar_frame .navbar_top .nov_search_frame {
    width: 651px;
    height: 50px;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    background: rgba(255, 255, 255, 1);
}
.navbar_frame .nov_search_frame .search_box {
    padding: 10px 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar_frame .search_box .category_list {
    width: 166px;
    height: 30px;
    border-right: 1px solid rgba(214, 214, 214, 1);
}
.navbar_frame .category_list select {
    width: 140px;
    height: 30px;
    border: none;
    outline: none;
    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
}
.navbar_frame .search_box input {
    /* Search products… */
    margin-left: 12px;
    width: 387px;
    height: 22px;
    color: rgba(98, 105, 116, 1);
    border: none;
    outline: none;

    font-family: "Jost";
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.navbar_frame .nov_search_frame .search_icon_box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px;
    background-color: rgba(245, 195, 75, 1);
}

.navbar_frame .navbar_top .nav_top_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 416px;
    height: 50px;

    /* background-color: brown; */
}
.navbar_frame .nav_top_menu .top_menu_box {
    display: flex;
    flex-direction: row;
}
.navbar_frame .top_menu_box .box_icon_box {
    position: relative;
    width: 54px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}
.navbar_frame .box_icon_box img {
    width: 22px;
    height: 22px;
}
.navbar_frame .top_menu_box .box_info_box {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.navbar_frame .box_info_box span {
    color: rgba(255, 255, 255, 1);

    font-family: "Jost";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.navbar_frame .box_info_box strong {
    color: rgba(255, 255, 255, 1);

    font-family: "Jost";
    font-style: Bold;
    font-size: 14px;
    font-weight: 500px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.navbar_frame .box_icon_box .basket_count {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 195, 75, 1);
    border-radius: 50%;
    color: rgba(11, 30, 64, 1);

    font-family: "Jost";
    font-style: Bold;
    font-size: 8px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0%;
    text-align: left;
}
.navbar_frame .container .navbar_bott {
    border-top: 1px solid #5747a2;
    margin-top: 20px;
}
.navbar_frame .navbar_bott .navbar_bott_menu_box {
    margin-top: 10px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar_frame .navbar_bott .browse_box {
    width: 185px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid #5747a2;
}
.navbar_frame .browse_box img {
    width: 20px;
    height: 18px;
}
.navbar_frame .browse_box span {
    margin-left: 10px;
    color: rgba(255, 255, 255, 1);

    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.navbar_frame .navbar_bott_menu_box .navbar_route_menu {
    width: 670px;
    display: flex;
    flex-direction: row;
}
.navbar_frame .navbar_route_menu a {
    margin-right: 10px;
    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    color: aliceblue;
}
.navbar_frame .navbar_route_menu a.titel {
    color: #f5c34b;
}
.navbar_frame .sorting_menu span {
    margin-left: 10px;
    color: rgba(255, 255, 255, 1);

    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
}

/* Footer_frame */
.Home_page .footer_frame {
    margin-top: 166px;
    padding: 90px 0 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f3f5f6;
}
.footer_frame .container {
    flex-direction: column;
}

.container .footer_top {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.footer_top .footer_contact_box {
    display: flex;
    flex-direction: column;

}
.footer_contact_box span {
    margin-bottom: 30px;
    display: block;
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.footer_main_img {
    width: 330px;
    height: auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
}
.footer_main_img img {
    margin-top: 7px;
    width: 40px;
    height: 40px;
}
.footer_main_img div {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.footer_main_img div strong {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
.footer_main_img div span {
    margin-top: 10px;
    color: rgba(4, 30, 66, 1);
font-family: "Jost";
font-style: Regular;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;s
}

 .footer_customer_box {
    margin-left: 20px;
     width: 193.67px;
height: auto;
    display: flex;
    flex-direction: column;
}

 .footer_customer_box .footer_main_support{
    padding-top: 35px;

 }
.footer_customer_box span {
    color: rgba(4, 30, 66, 1);
font-family: "Jost";
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 26px;

}

.footer_customer_box .footer_main_support a {
    margin-bottom: 10px;
    display: block;
   color: rgba(4, 30, 66, 1);
font-family: "Jost";
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 40px;
}

.footer_media_box {
    width: 155px;
height: 62px;
    margin-left: 55px;
    display: flex;
    flex-direction: column;
}
.footer_media_box .footer_media_main {
    display: flex;
    flex-direction: column;
}
.footer_media_main .media_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_media_main span{
    color: rgba(4, 30, 66, 1);
font-family: "Jost";
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 26px;

}
.media_box img{
    margin-top: 30px;
    width: 15px;
    height: 15px;

}
.footer_media_box .footer_mobile_main {
    margin-top: 30px;
}
.footer_mobile_main .app_icon {
color: rgba(4, 30, 66, 1);
font-family: "Jost";
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 26px;
}
.footer_mobile_main .media_box img{
width: 20px;
height: 20px;

}
.footer_mobile_main .media_box span{
margin-left: 15px;
color: rgba(4, 30, 66, 1);
font-family: "Jost";
font-style: Regular;
font-weight: 400;
}
.footer_top .footer_media_end {
margin-top: 190px;
    margin-left: 50px;
}
.footer_media_end .footer_spec_title {
    color: rgba(4, 30, 66, 1);
font-family: "Jost";
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 26px;
}
.footer_media_end .footer_media_end_img{
    margin-top: 15px;
}
.container .footer_bottom{
    margin-top: 90px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-top: 1px solid #d1cccc;
}
.footer_bottom .footer_main {
width: 100%;
height: auto;
display: flex;
flex-direction: row;
}
.footer_main .left_left {
    width: 940px;
    height: auto;
    display: flex;
    flex-direction: row;
}
.footer_main .left_left span{
    margin-right: 60px;
    color: rgba(4, 30, 66, 1);
font-family: "Jost";
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 40px;

}
.footer_main .right_rigth {
width: 400px;
height: auto;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.right_rigth .footer_select_box{
    margin-left: 20px;
    padding: 10px 20px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    box-sizing: border-box;
}
.footer_select_box span{
    color: #041e42;
font-family: "Jost";
font-style: normal;
font-size: 14px;
font-weight: 400;


}
.footer_select_box select{
margin-left: 20px;
width: 70px;
height: 90%;
background: none;
border: none;
outline: none;
cursor: pointer;
color: #041e42;

font-style: normal;
font-size: 14px;
font-weight: 400;
line-height: 40px;

}