.nawbar_frame {
    position: relative;
    width: 100%;
    height: 145px;
    background-color: rgb(26, 26, 121);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nawbar_frame .container {
    padding: 20px 0 12px;
    position: relative;
    width: 1320px;
    height: auto;
    /* background-color: brown; */
}
.nawbar_frame .container .nawbar_top {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* background-color: antiquewhite; */
}
.nawbar_top .naw_search_frame {
    width: 651px;
    height: 50px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
}
.naw_search_frame .search_box {
    /* categories */
    padding: 10px 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search_box .category_list {
    width: 166px;
    height: 30px;
    border-right: 1px solid rgba(214, 214, 214, 1);
}
.category_list select {
    width: 140px;
    height: 30px;
    border: none;
    outline: none;
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
}
.search_box input {
    /* Search products… */
    padding-left: 12px;
    border: none;
    outline: none;
    width: 387px;
    height: 22px;
    color: rgba(98, 105, 116, 1);

    font-family: "Jost";

    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
}
.naw_search_frame .search_icon_box {
    /* Rectangle 4 */
    width: 49px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0px 6px 6px 0px;
    background-color: rgba(245, 195, 75, 1);
}
.nawbar_top .naw_top_menu {
    /* right-box */
    width: 416px;
    height: 50px;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.naw_top_menu .top_menu_box {
    display: flex;
    flex-direction: row;
}
.top_menu_box .box_icon_box {
    position: relative;
    width: 54px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box_icon_box img {
    width: 25px;
    height: 25px;
}
.top_menu_box .box_info_box {
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: rgba(255, 255, 255, 1);
    margin-left: 16px;
    font-family: "Jost";
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
}
.box_icon_box .basket_count {
    /* number */
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: rgba(11, 30, 64, 1);
    background: rgba(245, 195, 75, 1);
    color: rgba(11, 30, 64, 1);

    font-family: "Jost";
    font-style: Bold;
    font-size: 8px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0%;
}
.nawbar_frame .container .nawbar_bot {
    margin-top: 20px;
    border-top: 1px solid #6557a2;
}
.nawbar_bot .nawbar_bot_menu_box {
    margin-top: 10px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nawbar_bot .browse_box {
    width: 185px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 1);
}
.nawbar_bot_menu_box img {
    width: 20px;
    height: 18px;
}
.nawbar_bot_menu_box span {
    margin-left: 10px;
    color: rgba(255, 255, 255, 1);

    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.nawbar_bot_menu_box .nawbar_route_menu {
    width: 670px;
    display: flex;
    flex-direction: row;
}
.nawbar_route_menu a {
    margin-right: 10px;
    color: aliceblue;
    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
}
.nawbar_route_menu a.titel {
    color: rgb(227, 201, 72);
}
