.Home_page {
    display: flex;
    flex-direction: column;
}
/* product_pagionation_box */
.container .pagionation_box {
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container .pagionation_box .pagionation_main {
    width: auto;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container .pagionation_main .pagionation_dot {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
}
.pagionation_main img {
    cursor: pointer;
}
.container .pagionation_dot .dot {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.container .pagionation_dot .dot.active {
    border: 2px solid black;
}
.container .pagionation_dot .dot div {
    width: 4px;
    height: 4px;
    background: black;
}
/* HEADER */
.header_frame {
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.header_frame .container {
    flex-direction: row;
}
.header_frame .container .header_left {
    width: 875px;
    height: 508px;
    position: relative;
    background: rgba(0, 83, 246, 1);
    border-radius: 7px;
    padding: 15px;
}
.header_frame .header_left .header_content {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}
.header_frame .header_content div {
    width: 104px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 195, 75, 1);
    border-radius: 6px;
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
}
.header_frame .header_content span {
    margin-top: 10px;
    width: 428px;
    height: 152px;
    color: rgba(255, 255, 255, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 60px;
    font-weight: 500;
    line-height: 87px;
}
.header_frame .header_content p {
    margin-top: 10px;
    color: rgba(255, 255, 255, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
}
.header_frame .header_content a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 52px;
    margin-top: 20px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
.header_frame .header_content img {
    position: absolute;
    right: 10px;
}
.header_frame .container .header_right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header_frame .header_right .header_box {
    margin-left: 20px;
    width: 422px;
    height: 240px;
    display: flex;
    flex-direction: row;
    background: rgba(242, 242, 242);
    border-radius: 5px;
}
.header_frame .header_right .box_left {
    margin-left: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box_left span {
    color: rgba(0, 83, 246, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
.header_frame .box_left p {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 26px;
    font-weight: 500;
    line-height: 38px;
}
.header_frame .box_left a {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
.header_frame .hover_border {
    width: 32px;
    height: 2px;
    background: rgba(4, 30, 66, 1);
}

.header_frame .header_box .box_right {
    width: 50%;
}
/* SErvice_frame */
.Home_page .service_frame {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.service_frame .container {
    flex-direction: row;
    justify-content: space-between;
}
.service_frame .container .service_box {
    height: 85px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgba(234, 234, 234, 1);
}
.service_frame .service_box img {
    width: 35px;
    height: 35px;
}
.service_frame .service_box .service_content {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.service_frame .service_content span {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}
.service_frame .service_content p {
    color: rgba(98, 105, 116, 1);
    font-family: "Jost";
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}
/* SHOP AND WRAPPER FRAME */

.Home_page .shop_frame {
    margin-top: 90px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.shop_frame .container {
    flex-direction: column;
}
.shop_frame .container .shop_frame_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shop_frame .shop_frame_box span {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}
.shop_frame .shop_frame_box a {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
.shop_frame .shop_frame_box a:hover {
    border-bottom: 2px solid rgba(4, 30, 66, 1);
}
.shop_frame .container .category_wrapper {
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.shop_frame .category_wrapper .category_box {
    width: 142px;
    height: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.shop_frame .category_box .category_img_box {
    width: 100%;
    height: 140px;
    border-radius: 150px;
    background: rgb(251, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop_frame .category_box span {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: rgba(4, 30, 66, 1);
}
.shop_frame .container .shop_frame_box2 {
    padding-top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shop_frame .shop_frame_box2 span {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}
.shop_frame .shop_frame_box2 a {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
.shop_frame .shop_frame_box2 a:hover {
    border-bottom: 2px solid rgba(4, 30, 66, 1);
}
/*selling_product */
.selling_product_frame {
    position: relative;
    margin: top 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selling_product_frame .container {
    flex-direction: column;
}
.selling_product_frame .container .product_wrapper {
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.selling_product_frame .product_wrapper .next_prev_box {
    width: 25px;
}
.selling_product_frame .next_prev_box img {
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.selling_product_frame .product_wrapper .product_boxes {
    position: relative;
    width: 1222px;
    height: 452px;
    display: flex;
    flex-direction: row;
}
.selling_product_frame .product_boxes .product_box {
    width: 306px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.selling_product_frame .product_box .product_imag_box {
    width: 100%;
    height: 280px;
}
.selling_product_frame .product_imag_box .hover_box {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.selling_product_frame .hover_box button {
    margin-bottom: 10px;
    width: 262.13px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
    background: rgba(0, 83, 246, 1);
    color: rgba(255, 255, 255, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
.selling_product_frame .product_imag_box:hover .hover_box {
    display: flex;
}
.selling_product_frame .product_box .product_content_box {
    padding: 5px 22px;
    width: 100%;
    height: auto;
}
.selling_product_frame .product_content_box .product_title {
    color: rgba(98, 105, 116, 1);
    font-family: "Jost";
    font-style: Regular;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}
.selling_product_frame .product_content_box .product_desc {
    margin-top: 7px;
    width: 256px;
    height: 56px;
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.selling_product_frame .product_content_box .review_box {
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.selling_product_frame .review_box img {
    margin-right: 5px;
}
.selling_product_frame .review_box span {
    margin-left: 10px;
    color: rgba(98, 105, 116, 1);
    font-family: "Jost";
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.selling_product_frame .product_content_box .price_box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.selling_product_frame .price_box strong {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.selling_product_frame .price_box span {
    margin-left: 10px;
    color: rgba(98, 105, 116, 1);

    font-family: "Jost";
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: line-through;
}
.Home_page .adv_frame {
    margin-top: 90px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 83, 246, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    background: rgba(229, 237, 255, 1);
}
/* spec_product_frame */
.Home_page .spec_product_frame {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.spec_product_frame .container {
    flex-direction: column;
}

.Home_page .spec_product_frame .shop_frame_box2 {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop_frame_box2 span {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}
.shop_frame_box2 a {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
.shop_frame_box2 a:hover {
    border-bottom: 2px solid rgba(4, 30, 66, 1);
}
.container .spec_product_wrapper {
    position: relative;
    margin-top: 35px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.spec_product_wrapper .big_product_wrapper .big_product_box {
    padding: 30px;
    position: relative;
    width: 664px;
    height: 368px;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    background: #f3f5f6;
    box-sizing: border-box;
}
.big_product_box .big_product_content {
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.big_product_content span {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}
.big_product_content p {
    margin: 7px 0;
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 26px;
    font-weight: 500;
    line-height: 38px;
}
.big_product_content a {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
.big_product_box .hover_border {
    width: 32px;
    height: 2px;
    background: rgba(4, 30, 66, 1);
}
.big_product_box img {
    position: absolute;
    width: 322px;
    height: 309px;
    right: 5%;
}
.spec_product_wrapper .small_product_wrapper {
    margin-left: 32px;
    width: 620px;
    height: 368px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.small_product_wrapper .small_product_box {
    position: relative;
    padding: 30px;
    width: 293px;
    height: 170px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-radius: 6px;
    background: #f3f5f6;
}
.small_product_box:nth-child(odd) {
    margin-right: 30px;
}

.small_product_box .small_product_content {
    display: flex;
    flex-direction: column;
}
.small_product_content strong {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.small_product_content span {
    color: rgba(98, 105, 116, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}
.small_product_box img {
    position: absolute;
    right: 5%;
    bottom: 10%;
}

/* Theatre_frame */
.Home_page .theatre_frame {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.theatre_frame .container {
    flex-direction: column;
}
.theatre_frame .shop_frame_box3 {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.theatre_frame .shop_frame_box3 .left {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.theatre_frame .shop_frame_box3 span {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}
.theatre_frame .shop_frame_box3 a {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
.theatre_frame .shop_frame_box3 a:hover {
    border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.theatre_frame .container .Home_Theatre_box {
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.theatre_frame .Home_Theatre_box .Theatre_box {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.theatre_frame .Home_Theatre_box .Theatre_box .next_prev_box2 {
    width: 25px;
}
.theatre_frame .Theatre_box .next_prev_box2 img {
    margin-left: 10px;
    margin-right: 5px;
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.theatre_frame .Theatre_box .theatre_sale {
    position: relative;
    width: 260px;
    height: 400px;
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.theatre_frame .theatre_sale:hover {
    border: 1px solid blue;
}
.theatre_frame .theatre_sale .theatre_sale_text {
    margin-top: 6px;
    width: 214px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.theatre_frame .theatre_sale_text span {
    color: rgba(98, 105, 116, 1);

    font-family: "Jost";
    font-style: Regular;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}
.theatre_frame .theatre_sale_text p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 5px;
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.theatre_frame .theatre_sale_text .theatre_sale_text_star img {
    margin-left: 3px;
}

.theatre_frame .theatre_sale_text .theatre_sale_text_star .san {
    margin-left: 5px;
    color: rgba(98, 105, 116, 1);
    font-family: "Jost";
    font-style: Regular;
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
    text-transform: lowercase;
}

.theatre_frame .theatre_sale_text_star .sale_sale {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.theatre_frame .theatre_sale_text_star .sale_sale strong {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.theatre_frame .theatre_sale_text_star .sale_sale span {
    margin-left: 10px;
    color: rgba(98, 105, 116, 1);
    font-family: "Jost";
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: line-through;
}
/* Blue frame */

.Home_page .blue_frame {
    position: relative;
    background: url(/public/images/image\ 82.png);
    background-repeat: no-repeat;
    border-radius: 6px;
    background: rgba(68, 50, 151, 1);
    width: 100%;
    height: 510px;
    margin-top: 90px;
    position: relative;
    display: flex;
    justify-content: center;
}
.blue_frame .container {
    position: relative;
    flex-direction: row;

    align-items: center;
}
.blue_frame .container .left_blue_box {
    position: relative;
    width: 280px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
}
.left_blue_box span {
    color: rgb(255, 255, 255);
    font-family: "Jost";
    font-style: Medium;
    font-size: 27px;
    font-weight: 650;
    line-height: 20px;
}
.left_blue_box .date_in_box {
    position: relative;
    width: 329px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: center;
    box-sizing: border-box;
}

.date_in_box .date_in_in_box {
    margin-top: 40px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.date_in_in_box .date_in_box_top span {
    color: rgb(255, 255, 255);
    font-family: "Jost";
    font-style: Medium;
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
}
.date_in_in_box .date_in_box_bottom p {
    color: rgba(255, 255, 255, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.blue_frame .left_button {
    margin-top: 30px;
    border: 1px solid none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 52px;
    background-color: rgb(253, 253, 253);
    border-radius: 5px;
}
.blue_frame .left_button a {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
.blue_frame .container .right_blue_box {
    margin-left: 20px;
    position: relative;
    width: 900px;
    height: 510px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.right_blue_box .right_blue_box_img {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
/* qarap shiq */
.right_blue_box_img .next_prev_box2 {
    margin-right: 30px;
    margin-left: 30px;
    width: 25px;
}
.right_blue_box_img .next_prev_box2 img {
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.blue_frame .right_blue_box_img .theatre_sale {
    margin-left: 10px;
    position: relative;
    width: 206px;
    height: 392px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
}

.blue_frame .theatre_sale:hover {
    border: 2px solid rgb(8, 7, 7);
}
.blue_frame .theatre_sale .theatre_sale_text {
    margin-top: 30px;
    margin-left: 10px;
    width: 206px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blue_frame .theatre_sale_text span {
    color: rgb(1, 8, 18);

    font-family: "Jost";
    font-style: Regular;
    font-size: 11px;
    font-weight: 300;
    line-height: 19px;
    text-transform: uppercase;
}
.blue_frame .theatre_sale_text p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 5px;
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
}
.blue_frame .theatre_sale_text .theatre_sale_text_star img {
    margin-left: 3px;
}

.blue_frame .theatre_sale_text .theatre_sale_text_star .san {
    margin-left: 5px;
    color: rgba(98, 105, 116, 1);
    font-family: "Jost";
    font-style: Regular;
    font-size: 11px;
    font-weight: 150;
    line-height: 18px;
    text-transform: lowercase;
}

.blue_frame .theatre_sale_text_star .sale_sale {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.blue_frame .theatre_sale_text_star .sale_sale strong {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.blue_frame .theatre_sale_text_star .sale_sale span {
    margin-left: 10px;
    color: rgba(98, 105, 116, 1);
    font-family: "Jost";
    font-style: Regular;
    font-size: 10px;
    font-weight: 250;
    line-height: 18px;
    text-decoration-line: line-through;
}
