.product_page .container .shop_frame_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product_page .shop_frame_box span {
    color: rgba(4, 30, 66, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}
.product_page .shop_frame_box a {
    color: rgba(4, 30, 66, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
.product_page .shop_frame_box a:hover {
    border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.product_page .container .pagionation_main {
    margin-top: 230px;
    margin-left: 70px;
    width: auto;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.product_page .container .pagionation_main .pagionation_dot {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
}
.product_page .pagionation_main img {
    cursor: pointer;
}
.product_page .container .pagionation_dot .dot {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.product_page .container .pagionation_dot .dot.active {
    border: 2px solid black;
}
.product_page .container .pagionation_dot .dot div {
    width: 4px;
    height: 4px;
    background: black;
}
/* Product_page */
.product_page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product_page .shop_deals_frame {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.shop_deals_frame .container {
    position: relative;
    flex-direction: column;
}
.container .deals_top {
    margin-top: 16px;
    position: relative;

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}
.deals_top div:hover {
    border-bottom: 2px solid rgba(4, 30, 66, 1);
}
/* bottom box */
.shop_deals_frame .deals_bottom_box {
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 425px;
    display: flex;
    flex-direction: column;
    background: url(../images/images/category/Group\ 19.png);
}
.deals_bottom_box .bottom_text {
    position: relative;
    margin-top: 60px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    width: 366.77px;
    height: 75.43px;
}
.bottom_text span {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}
.bottom_text p {
    margin-top: 19px;
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.bottom_text button {
    margin-top: 20px;
    width: 145px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    border: none;
    border-radius: 6px;
    background: rgba(245, 195, 75, 1);
    cursor: pointer;
}
/* shop frame */
.shop_frame {
    margin-top: 40px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;

    justify-content: center;
}
.container {
    flex-direction: column;
}

.shop_frame .container .category_wrapper {
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.shop_frame .category_wrapper .category_box {
    width: 142px;
    height: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.shop_frame .category_box .category_img_box {
    width: 100%;
    height: 140px;
    border-radius: 150px;
    background: rgb(251, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop_frame .category_box span {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: rgba(4, 30, 66, 1);
}
/* brand_frame */

.brand_frame {
    margin-top: 40px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.brand_frame .container {
    flex-direction: column;
}
.blue_boxes {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.blue_boxes a {
    margin-left: 10px;
    position: relative;
    width: 100px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 6px;
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.blue_boxes a:hover {
    background-color: rgba(68, 50, 151, 1);
    color: rgb(213, 221, 232);
}
/* top_selling_pro */
.top_selling_frame {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.top_selling_pro .container {
    flex-direction: row;
}
.top_selling_frame .container .pagionation_main {
    margin-top: 0;
}
/* tvv_box */
.tvv_box {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.tvv_box .theatre_sale {
    position: relative;
    width: 220px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #f5f3f3;
}

.tvv_box .theatre_sale:hover {
    border: 1px solid blue;
}
.tvv_box .theatre_sale .theatre_sale_text {
    margin-top: 6px;
    width: 190px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.tvv_box .theatre_sale_text span {
    color: rgba(98, 105, 116, 1);

    font-family: var(--font);
    font-style: Regular;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}
.tvv_box .theatre_sale_text p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 5px;
    color: rgba(4, 30, 66, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.tvv_box .theatre_sale_text .theatre_sale_text_star img {
    margin-left: 3px;
}

.tvv_box .theatre_sale_text .theatre_sale_text_star .san {
    margin-left: 5px;
    color: rgba(98, 105, 116, 1);
    font-family: var(--font);
    font-style: Regular;
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
    text-transform: lowercase;
}

.tvv_box .theatre_sale_text_star .sale_sale {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tvv_box .theatre_sale_text_star .sale_sale strong {
    color: rgba(4, 30, 66, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.tvv_box .theatre_sale_text_star .sale_sale span {
    margin-left: 10px;
    color: rgba(98, 105, 116, 1);
    font-family: var(--font);
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: line-through;
}
/*laptops_frame  */

.product_page .laptops_frame {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.laptops_frame .container {
    flex-direction: column;
}

.laptops_frame .container .laptops_info_start {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(234, 234, 234, 1);
}
.laptops_info_start span {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}
.laptops_info_start p {
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}
.laptops_frame .container .laptops_info_select_box {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.laptops_info_select_box select {
    margin-right: 10px;
    width: 91.51px;
    height: 36px;
    border-radius: 60px;
    background: rgba(243, 245, 246, 1);
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    border: none;
}
.laptops_frame .container .all_laptops {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
}
.all_laptops .theatre_sale {
    position: relative;
    width: 263.7px;
    height: 452px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #f5f3f3;
}

.all_laptops .theatre_sale:hover {
    border: 1px solid blue;
}
.all_laptops .theatre_sale .theatre_sale_text {
    margin-top: 6px;
    width: 190px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.all_laptops .theatre_sale_text span {
    color: rgba(98, 105, 116, 1);

    font-family: var(--font);
    font-style: Regular;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}
.all_laptops .theatre_sale_text p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 5px;
    color: rgba(4, 30, 66, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.all_laptops .theatre_sale_text .theatre_sale_text_star img {
    margin-left: 3px;
}

.all_laptops .theatre_sale_text .theatre_sale_text_star .san {
    margin-left: 5px;
    color: rgba(98, 105, 116, 1);
    font-family: var(--font);
    font-style: normal;
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
    text-transform: lowercase;
}

.all_laptops .theatre_sale_text_star .sale_sale {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.all_laptops .theatre_sale_text_star .sale_sale strong {
    color: rgba(4, 30, 66, 1);
    font-family: var(--font);
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.all_laptops .theatre_sale_text_star .sale_sale span {
    margin-left: 10px;
    color: rgba(98, 105, 116, 1);
    font-family: var(--font);
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: line-through;
}
/* end page pagionation */
.laptops_frame .pagionation_main1 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.laptops_frame .container .pagionation_main1 .pagionation_dot1 {
    width: 459.83px;
    height: 90px;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgba(5, 16, 54, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.laptops_frame .pagionation_main1 img {
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.pagionation_main1 .img_box1 {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
}
.pagionation_dot1 .dot2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 195, 75, 1);
}
.pagionation_dot1 .dot3 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 245, 246, 1);
}
